.ExtraCurr{
    width: 500px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-left: 500px;

}
.extracontainer{
    display: flex;
    flex-direction: column;
    margin: 0; 


}
p{
  align-items: center;
  font-weight: bold;
  font-size: 18px;
}
.extrainput{
    width: 40px;

}
.role{
    width:250px;



}
.other{
    width:240px;


}
.extra{
    display: flex;
    margin-left: 50px;
    width: 500px;
    column-gap: 20px;
    
 
   
    
   
   
}